
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
.item{
	height:100px;
	width:100px;
}
.box_1{
	background-color:blue;
}
.box_2{
	background-color:red;
}
.box_3{
	background-color:green;
}